@import './global/css/style.css';
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.main{
   background: var(--main-bg);
   height: 100%;
   width: 100%;
   color: var(--soft-color);
}
.contener{
  display: flex;
  position: relative;
  width: 100%;
  height: 1000px;
}
.menuContener{
  width: 250px;
  border-right: 2px solid var(--soft-bg);
  padding: 2px ;
  margin: 5px;
}
.contenContener{
  padding: 10px;
  /* contenContener take 100% after menuContener width */
  width: 100%;
}